{% extends "layout.html" %}

{% block title %}
    Packages
{% endblock %}

{% block main %}

<body3>

  <!--Creating meal plan example-->
  <div class="map1">
    <h3 style="color:grey"><center>Take a look at this sample meal plan for a day in beautiful Italy - just one of the many examples we offer for different countries on our website</center></h3>
  </div>

  <header2>
    <h2><center>One day Meal Plan</center></h2>
  </header2>

  <div class="meal-plan">

    <div class="container1">
      <img class="notebook" src="./static/images/notenew1.jpg" alt="image">
      <div class="text-overlay">

        <section class="meal-plan">
          <div class="row">
            <div class="column">
              <h2></h2>
              <h2 style="color:white">*</h2>
              <h2 style="color:brown">*</h2>
            </div>
          </div>
        </section>

        <section class="meal-plan">
          <div class="row">
            <div class="column">
              <h2>Breakfast</h2>
              <img src="./static/images/omelette.jpg" alt="Breakfast" class="meal-image">
            </div>
            <div class="column">
              <h3>Caprese Omelette</h3>
              <p>This Caprese omelette is a classic Italian breakfast that's easy to make and absolutely delicious. The fresh tomatoes, basil, and mozzarella cheese give this omelette a burst of flavor..</p>
              <ul class="ingredients">
                <li>2 eggs</li>
                <li>1/4 cup fresh mozzarella cheese, diced</li>
                <li>1/4 cup cherry tomatoes, halved</li>
                <li>1 tbsp chopped fresh basil</li>
                <li>Salt and pepper, to taste</li>
              </ul>
            </div>
          </div>
        </section>

        <section class="meal-plan">
          <div class="row">
            <div class="column">
              <h2>Lunch</h2>
              <img src="./static/images/panzanella-salad-.jpg" alt="Lunch" class="meal-image">
            </div>
            <div class="column">
              <h3>Panzanella Salad</h3>
              <p>This Panzanella salad is a classic Italian dish that's perfect for a light lunch. The bread, tomatoes, and basil give this salad a fresh and satisfying flavor.</p>
              <ul class="ingredients">
                <li>2 cups stale Italian bread, cubed</li>
                <li>2 cups cherry tomatoes, halved</li>
                <li>1/2 red onion, sliced</li>
                <li>1/2 cup fresh basil leaves, torn</li>
                <li>3 tbsp extra-virgin olive oil</li>
                <li>1 tbsp red wine vinegar</li>
                <li>Salt and pepper, to taste</li>
              </ul>
            </div>
          </div>
        </section>

        <section class="meal-plan">
          <div class="row">
            <div class="column">
              <h2>Dinner</h2>
              <img src="./static/images/carbonara.jpg" alt="Dinner" class="meal-image">
            </div>
            <div class="column">
              <h3>Spaghetti Carbonara</h3>
              <p>This Spaghetti Carbonara is a classic Italian pasta dish that's quick and easy to make. The creamy sauce, crispy bacon, and Parmesan cheese make this dish a family favorite.</p>
              <ul class="ingredients">
                <li>8 oz spaghetti</li>
                <li>4 slices bacon, chopped</li>
                <li>2 eggs</li>
                <li>1/2 cup freshly grated Parmesan cheese</li>
                <li>1/4 cup heavy cream</li>
                <li>Salt and pepper, to taste</li>
              </ul>
            </div>
          </div>
        </section>

        <section class="meal-plan">
          <h2>Appetizers</h2>
          <div class="row">
            <div class="column">
              <img src="./static/images/-bruschetta.jpg" alt="Appetizer" class="meal-image">
            </div>
            <div class="column">
              <h3>Bruschetta</h3>
              <p>Ah bruschetta, one of the best ways to enjoy the bounty of summer.</p>
              <ul class="ingredients">
                <li>4 slices Italian bread, toasted</li>
                <li>2 cloves garlic, halved</li>
                <li>2 large tomatoes, diced</li>
                <li>1/4 cup chopped fresh basil</li>
                <li>2 tbsp extra-virgin olive oil</li>
              </ul>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

  <!--Link to payform-->
  <div class="map1">
    <a xlink:title="Purchase" href="/form">
      <h1 style="color:blue"><center>Purchase</center></h1>
    </a>
  </div>

</body3>

{% endblock %}